html {
	box-sizing: border-box;
	width: 100%;
    height: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}	


body {
	  font-family: 'Permanent Marker', cursive;
      font-size: 1em;
      font-style: color: white;
      background-image: url(waterfall.jpg);
      background-size: cover;
}


a {
	color: white;
	font-weight: 100;
	letter-spacing: 2.5px;
	text-decoration: none;
	background: rgba(0,0,0,0.6);
	padding: 20px 5px;
	display: inline-block;
	width: 100%;
	text-align: center;
	transition: all 0.5s;
}     

a:hover {
	background: rgba(0,0,0,0.3);
}

.wrapper {
	max-width: 2000px;
	margin: 0 auto;
	padding: 50px;
}

.sub {
    max-width: 700px;
	margin: 0 auto;
	padding: 100px;
	box-sizing: 300%;
	font-size: 300%;
}

.flex-nav ul {
	border: 1px solid black;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.flex-sub ul {
	border: 1px solid black;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

.flex-sub li {
	flex: 4;
}

.flex-nav li {
	flex: 4;
}

.flex-nav .social {
	flex: 1;
}

@media all and (max-width: 500px) {


}

@media all and (max-width: 500px) {


}

p {
	color: #BEBEBE;
	font-family: 'Times New Roman' ;
	font-size: 120%;
	background: rgba(0,0,0,0.4);
	text-align: center;
	margin-top: 200px;
}